<!-- <div>This is the Div</div>
<ng-container *ngFor = "let num of [1,2,3,4,5]">
  {{num}}
</ng-container>
<ng-template >This is ng template</ng-template> -->

<!-- <form action="" >
   <div ngModelGroup #group="ngModelGroup">
    name:
    <input required
    minlength="4"
     type="text"
     class="form-control w-5 m-2"
      ngModel 
      name="uname"
       #un="ngModel">
       <p class="err-msg" *ngIf="un.touched && un.errors?.required">username is required</p>
       <p class="err-msg" *ngIf="un.touched && un.errors?.minlength">username conatains min 4 characters</p>

       password:
       <input required
       minlength="4"
       type="password"
       class="form-control w-5 m-2"
       ngModel
       name="password"
       #pwd="ngModel">
       <ng-container *ngIf="pwd.touched">
        <p class="err-msg" *ngIf="pwd.errors?.required">Password is required</p>
        <p class="err-msg" *ngIf="pwd.errors?.minlength">password is contains min 8 characters</p>
       </ng-container>
   </div>
    
    <button (click)="show(un, pwd, group)" class="btn btn-primary">click</button>
</form> -->

<!-- <form action="" ngForm #login="ngForm"></form>
<form action="">
    userName:
    <input type="text" ngModel name="username" #un="ngModel">
</form> -->

<!-- <form #reg="ngForm">
    <label class="m-2">username</label>
    <input type="text" ngModel name="username" minlength="5" #un="ngModel">
    <label class="m-2">password</label>
    <input type="password" ngModel name="password" #pwd="ngModel">

    <button class="btn btn-primary m-2" (click)="show(reg)">click</button>
</form> -->

<!-- <form [formGroup]="login">
    username:
    <input type="text" class="form-control w-50 m-2" formControlName="uname">
    password:
    <input type="possowrd" class="form-control w-50 m-2" formControlName="password">
    <button (click)="show()">click</button>
</form> -->

<!-- <form [formGroup]="regForm">
    username :
    <input type="text" class="from-control" formControlName="uname"><br>
    <div *ngIf="regForm.get('uname').touched &&regForm.get('uname').hasError('required')">UserName is required</div>
    <div *ngIf="regForm.get('uname').touched && regForm.get('uname').hasError('minlength')"> user name minimum 8 characters</div>
    <br>
    email:
    <input type="email" class=" from-control" formControlName="email"><br>
    <div *ngIf="regForm.get('email').hasError('required')">Email is required</div>
    <button class="btn btn-primary" (click)="show()">click</button>
</form> -->

<!--From Array -->

<!-- <form action="" [formGroup]="testForm">
    <div formArrayName="mobileNums">
        <div *ngFor="let m of testForm.get('mobileNums')['controls']); let i=index">
            <input type="text" formControlName="{{i}}">

        </div>
    </div>
   <button (click)="test()">test</button>
</form> -->

<!-- <div>
    <button type="button" (click)="onAddHobby()" class="btn btn-sm-btn-default"> Add Hobby</button>
</div> -->
<!-- <form [formGroup]="regForm">
    name:<input type="text" formControlName="name" class="form-control">
    email:<input type="email" formControlName="email" class="form-control">
    mobile: 
    <input type="number" formControlName="mobile" class="form-control">
</form> -->

<!-- <form action="" [formGroup]="regForm">
    password: 
    <input type="password" formControlName="password" class="form-control m-3">
    <p *ngIf="this.regForm.get('password').touched && this.regForm.get('password').errors?.['noupper']">password contain atleast one upper letter</p> <br>
    <button class="btn btn-primary" (click)="show()">click</button>
</form> -->

<!-- <form [formGroup]="regForm">
    username:
    <input type="text" formControlName="username">
    <p *ngIf="this.regForm.get('username').touched && this.regForm.get('username').errors?.['duplicateuser']">user name already exits</p> <br>

</form> -->

<!-- <h1 appCustomd>This is heading tag</h1> -->

<!-- <button class="btn btn-primary">click</button>
<app-home [test]="life cycle hook"></app-home> -->

<!-- <h1>This is app component heading</h1> -->
<!-- <input type="text" [(ngModel)]="wish"> -->
<!-- <app-home [cdata]="wish"></app-home> -->
<!-- <button (click)="updateCounter()">change</button>
{{counter}}
<button class="btn btn-primary">click</button> -->

<!-- <div class="container">
    <app-todo-form></app-todo-form>
    <app-todo-list></app-todo-list>
</div>

<div appCustomd>
   <p>wqdiudeuk</p>
</div> -->




<!-- <div class="card w-50 mx-auto mt-4">
    <h4 class="card-header">Sign Up</h4>
    <div class="card-body">
        <form action="" #r=ngForm>
           <div class="from-group">
            <label>Full Name:</label>
            <input type="text" ngModel name="fullName" class="form-control" required minlength="8">
            <div *ngIf="r.controls['fullName']?.['touched'] && r.controls['fullName']?.['errors']" class="invalid">
                <div *ngIf="r.controls['fullName']?.['errors']?.['required']">
                    FullName is required
                </div>
                <div *ngIf="r.controls['fullName']?.['errors']?.['minlength']">
                    FullName is minimum 8 characters
                </div>

            </div>
           </div>
           <div class="from-group">
            <label>First Name:</label>
            <input type="text" ngModel name="firstName" class="form-control" required maxlength="30">
            <div *ngIf="r.controls['firstName']?.['touched'] && r.controls['firstName']?.['errors']" class="invaild">
                <div *ngIf="r.controls['firstName']?.['errors']?.['required']">
                    FirstName is required
                </div>
                <div *ngIf="r.controls['firstName']?.['errors']?.['maxlength']">
                    FirstName is maximum length is 30
                </div>

            </div>
           </div>
           <div class="from-group">
            <label>Last Name:</label>
            <input type="text" ngModel name="lastName" class="form-control">
           </div>
           <div class="from-group">
            <label> email:</label>
            <input type="email" ngModel name="email" class="form-control" #email="ngModel" required email>
            <div *ngIf="r.controls['email']?.['touched'] && r.controls['email']?.['errors']" class="invalid">
                <div *ngIf="r.controls['email']?.['errors']?.['required']">
                    Email is required.
                </div>
                <div *ngIf="r.controls['email']?.['errors']?.['email']">
                    Email is Invalid
                </div>
            </div>
           </div>
           <div class="from-group">
            <label>DOB:</label>
            <input type="date" ngModel name="dob" class="form-control">
           </div>
           <div class="from-group">
            <label>Gender:</label>
            <label >
                <input type="radio" ngModel name="gender"  value="F"> Female
            </label>
            <label>
                 <input type="radio" ngModel name="gender"  value="M"> Male
            </label>
           </div>

           <div class="from-group">
            <label>Mobile No:</label>
            <input type="number" ngModel name="mobile" class="form-control" required maxlength=10>
            <div *ngIf="r.controls['mobile']?.['touched'] && r.controls['mobile']?.['errors']" class="invalid">
                <div *ngIf="r.controls['mobile']?.['errors']?.['required']">
                    mobile number is required
                </div>
                <div *ngIf="r.controls['mobile']?.['errors']?.['maxlength']">
                    mobile is not more than 10 digits
                </div>
            </div>
           </div>
           <div class="from-group">
            <label>Password:</label>
            <input type="password" ngModel name="pwd" class="form-control" required>
           </div>
           <div class="from-group">
            <label>confirm Password:</label>
            <input type="password" ngModel name="cpwd" class="form-control" required>
           </div>
           <button class="btn btn-primary" (click)="show(r)">Register</button>

        </form>
    </div>
</div> -->



<!-- Reactive Form Validations  -->


<!-- <form action="" [formGroup]="regForm">
    <label for="">UserName</label>
    <input type="text" class="form-control" formControlName="uname">
    <div *ngIf="regForm.get('uname').touched && regForm.get('uname').hasError('required')">
        UserName is required.
    </div>
    <div *ngIf="regForm.get('uname').touched && regForm.get('uname').hasError('minlength')">
        user Name is minimum of 8 character
    </div>
    <label for="">email</label>
    <input type="text" class="form-control" formControlName="email">
    <div *ngForm="regForm.get('email').touched && regForm.get('email').hasError('required')">
        Eamil id is required
    </div>
    <button class="btn btn-primary">click</button>
</form> -->


<!-- Form Array  -->

<!-- <form action="" [formGroup]="testForm">
    <div formArrayName="mobileNums">
        <div *ngFor="let m of testForm.controls['mobileNums']['controls']">
          mobileNumber {{i}}  <input type="text" forControlName="">
        </div>
    </div>
   
</form>
<button (click)="test()">add</button> -->


<!-- Form builder  -->

<!-- <form [formGroup]="regForm1">
    Name:<input type="text" formControlName="name">
    EmailId:<input type="text" formControlName="email">
   <div formArrayName="mobiles">
    <ng-container *ngFor="let m of this.regForm1.get('mobiles')['controls']; let i = index">
      Mobilenumber{{i+1}}  <input type="number">

    </ng-container>

   </div>
</form> -->
<!-- <button (click)="getData()">click</button>
<h2 appCustomd>This is Heading tag</h2> -->
<!-- <div (click)="test($event)">
trst
</div> -->

<!-- <app-home></app-home> -->

<!-- <app-loans></app-loans> -->

<!-- <app-todo-form></app-todo-form>
<app-todo-list></app-todo-list> -->
<app-payments></app-payments>